*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Axiforma, sans-serif;
}

/* .simplixl{
} */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 30px;
    gap: 185px;
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FCFCFC;
    box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.05);
}

header li{
    display: inline;
    /* padding: auto; */
}

button.text{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11.5px 0px;
    gap: 16px;
    width: 52px;
    height: 47px;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0px;
    background-color: #FCFCFC;
}

li.overview{
    padding-left: 260.18px;
}

li.contact{
    padding-right: 260.5px;
}

li.feature{
    padding: 0px 44px 0px 44px;
}

li.howto{
    padding: 0px 44px 0px 0px;
}

/* removes text decoration on all links */
a{
    text-decoration: none;
}

li a:visited{
    color: #757472;
}

li a:hover{
    width: 69px;
    height: 24px;
    text-decoration-line: underline;
    text-decoration-color: #2691D9;
    text-decoration-thickness: 3px;
    color: #302E2B;
}

li>a:active{
    color: #1A1A1A;
}

button.primary{
    /* text-decoration: none; */
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    gap: 16px;
    width: 154px;
    height: 48px;
    background: #2691D9;
    border-radius: 8px;
    border: 0px;
    left: 16px;
    top: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-top: 32px;

}

button.primary:hover{
    background-color: #1F74AD;
}

button.primary:active{
    background-color: #175782;
}

.sectionone{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 195px 30px 2778px 30px; /*formerly right 725px ; left 80px*/
    align-items: flex-start;
    gap: 16px;
    width: 635px;
    height: 438px;
    line-height: 32px;
}

.side-img {
padding-bottom: 48px;
padding-left: 218px;
padding-right: 80px;
}

main .boost{
    width: 140px;
    height: 18px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #F38707;
    padding-top: 195px;
    padding-bottom: 8px;
}

main .compare{
    width: 635px;
    height: 198px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #1A1A1A;
    padding-top: 8px;
}

main .productivity{
    width: 493px;
    height: 90px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #302E2B;
    padding-bottom: 32px;
}

#pri-sec-button{
    line-height: 2em;
}

#freeforever{
    width: 74px;
    height: 18px;
    color: #565855;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px
}

button.secondary{
    margin-left: 24px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 200px;
    height: 48px;
    color: #2691D9;
    background: #D2EBF9;
    border: 0px;
    border-radius: 6px;
    padding-top: 32px;
}

button.secondary:hover{
    background-color: #BFE3F7;
    text-decoration: none;
}

button.secondary:active{
    background-color: #B2DDF5;
}

.sectiontwo{
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 55px;
    width: 1280px;
    height: 172px;
    left: 80px; /*formerly 80px*/
    top: 876px; /* initially 876px */
    bottom: 2441px;
    padding-top: 48px;
}

.upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 48px;
    gap: 20px;
    width: 390px;
    height: 174px;
    background: #FCFCFC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.upload>h5{
    width: 89px;
    height: 30px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1A1A1A;
}

.upload>p{
    width: 294px;
    height: 48px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #302E2B;
}

.compare-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 48px;
    gap: 20px;
    width: 390px;
    height: 174px;
    background: #FCFCFC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.compare-cont>h5{
    width: 116px;
    height: 30px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1A1A1A;
}

.compare-cont>p{
    width: 294px;
    height: 48px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #302E2B;
}

.download{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 48px;
    gap: 20px;
    width: 390px;
    height: 174px;
    background: #FCFCFC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.download>h5{
    width: 125px;
    height: 30px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1A1A1A;
}

.download>p{
    width: 294px;
    height: 48px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #302E2B;
}

.sectionthree{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 122px;
    gap: 156px;
    position: absolute;
    width: 1280px;
    height: 486px;
    left: 30px;
    top: 1000px;
}

.sec3-image {
    width: 548px;
    height: 486px;
}

.sec3-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 8px;
    width: 576px;
    height: 344px;
}

#everything {
    font-family: Axiforma;
    font-size: 40px;
    font-style: normal;
    line-height: 48px;
    color: #0D0D0D;
    flex: none;
    width: 576px;
    height: 96px;
    font-weight: 700;
    padding-top: 193px;

}

#learn {
    justify-content: center;
    width: 157px;
    height: 48px;
    top: 184px;
    background-color: #2691D9;
    padding: 8px 16px;
    border-radius: 8px;
    font-family: Axiforma;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.sectionfour{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    position: absolute;
    width: 486px;
    height: 259px;
    left: 30px;
    top: 1350px; /*may need readjustments after the images are added*/
    padding-top: 207px;
    padding-right: 154px;
}

.sec4-image {
    top: 1776px;
    width: 607px;
    height: 380px;
    border-radius: 8px;
    padding-right: 113px;
    padding-left: 194px;
}
.sectionfive{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1440px;
    height: 364px;
    left: 0px;
    top: 2276px; /*may also need readjustments after*/
    background: #F4F9FD;
}

.sec-a {
    padding-bottom: 230px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
}

#sec-a-image {
    width: 54px;
    height: 54px;
}
.sec-b {
    padding-bottom: 230px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
}

.sec-c {
    padding-bottom: 230px;
    padding-right: 80px;
    padding-right: 80px;
    padding-top: 80px;
}

.subfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0px;
    gap: 8px;
    position: absolute;
    width: 1440px;
    height: 300px;
    left: 0px;
    top: 1960px; /*may also need readjustments after*/
    background: #FCFCFC;
}

/* I added the footer code from here*/
.footer-container {
    /*padding-bottom: 4rem 0 4rem 0;*/
    position: absolute;
    width: 1440px;
    height: 551px;
    left: 0px;
    top: 2940px;
    background: #081D2B
  }
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .footer-heading {
    width: 20%;
    flex-basis: 20%;
  }
  
  .footer-heading h2 {
    width: 132px;
    height: 39.6px;
  }
  
  .image {
    max-width: 100%;
    width: 30px;
  }
  
  #logo-text {
    max-width: 80%;
  }
  
  .footer a {
    display: block;
    padding: 10px 0;
    color: white;
    text-decoration: none;
  }
  
  #footer-email {
    position: relative;
    margin-top: 20px;
  }
  
  #footer-email-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .line {
    text-align: center;
    border-top: 1px solid white;
    padding: 20px 0;
    margin-top: 20px;
  }  